.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  /* flex-direction: column; */
  border-bottom: 1px solid #282c34;

  align-items: center;
  justify-content: space-around;
  color: white;
}

.light-mode {
  background-color: white;
  min-height: 10vh;
  display: flex;
  border-bottom: 1px solid #282c34;
  align-items: center;
  justify-content: space-around;
  color: black;
}

.button-dark {
  width: 150px;
  height: 30px;
  color: white;
  background: #5b5f68;
  border-radius: 5px;
  cursor: pointer;
}

.nav {
  margin-bottom: 30px;
}
